<html> 
<head>
<title> ExpressJS Covid Stat APP </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<form action="/api" method="POST">
<label> Lütfen Ulke Ismi Giriniz </label>
<input name="nego" placeholder=" " />
<button> Ara </button>
</form>



<!-- Script -->
</body>
</html>
